@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Demo Store File Blockchain</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Document" asp-action="GenerateKey">Generate Key</a>
</div>