@{
    ViewData["Title"] = "Upload Control";
}

<form method="post" enctype="multipart/form-data">
    <div class="mb-2">
        <label for="fileToUpload" class="form-label">
            Select File to Upload
        </label>
        <input id="fileToUpload" name="fileToUpload"
               type="file" class="form-control" />
    </div>
    <div class="mb-2">
        <label for="pubKeyInput" class="form-label">
            Input Public Key
        </label>
        <input id="pubKeyInput" name="pubKeyInput"
               type="text" class="form-control" />
    </div>
    <div class="mb-2">
        <button class="btn btn-primary">Upload</button>
        <label for="resultHash" class="form-label">
            Hash: <p id="resultHash">@ViewData["resultHash"]</p>
        </label>
    </div>
</form>